main, header{
  margin:auto;
  width: 700px;

}

header{
  background-color: grey;
  text-align: center;
}
main{
  display:grid;
  grid-gap:20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  background-color: grey;
}

main>article>img{
  width: 100%;
  background-color: white;
}

img{
  border-width:2px;
  width: 200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

p{
  background-color: pink;
  margin-left: auto;
  margin-right: auto;
}
